<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <!-- link href="css/bootstrap.min.css" rel="stylesheet" -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">

  <title>文章列表</title>

  <style type="text/css">
    div{
      display: box;
      width: 400px;
      margin: 20px auto;
      /*background-color:  #efefef;*/
    }
    #title{
      display: block;
      color: green;
      text-align: center;
    }
    #author{
      display: block;
      color: blue;
      text-align: right;
    }
  </style>
</head>

<body>

    {% for post in posts %}
    <div>
      <a id="title" href="{{url_for('admin.show_post', post_id=post.id)}}">{{ post.title }}</a>
      <span id="author">-- written by {{ users[post.id].name }}</span>
    </div>
    <hr />
    {% endfor %}


</body>
</html>
