<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <!-- link href="css/bootstrap.min.css" rel="stylesheet" -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
   <title>登陆</title>
  <style type="text/css">
    body{
      display: box;
      width: 400px;
      margin: 20px auto;
      vertical-align: middle
      /*background-color:  #efefef;*/
    }
  </style>
</head>
<body valign="center">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  {% if not session.admin %}
    <form class="form-horizontal" action="{{url_for("admin.signin")}}" method="post">
      <div class="form-group">
      <label class="col-sm-3 control-label" for="adname">用户名</label>
     <div class="col-sm-9">
    <input type="text" name="adname" class="form-control" id="adname" placeholder="请输入用户名">
    </div>
    </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-3 control-label">密码</label>
    <div class="col-sm-9">
      <input type="password" name="password" class="form-control" id="inputPassword" placeholder="请输入密码">
    </div>
  </div>
 <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary">登陆</button>
    </div>
  </div>
    </form>
 {% else %}
    <p>you have logged in!</p>
 {% endif %}



</body>
</html>
