<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <!-- link href="css/bootstrap.min.css" rel="stylesheet" -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
   <title>更新用户信息</title>
  <style type="text/css">
    body{
      display: box;
      width: 400px;
      margin: 20px auto;
      vertical-align: middle
      /*background-color:  #efefef;*/
    }
  </style>
</head>
<body valign="center">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <form class="form-horizontal" action="{{url_for("web.update_user", user_id=session.uid)}}"
    method="post">
      <div class="form-group">
      <label class="col-sm-3 control-label" for="username">用户名</label>
     <div class="col-sm-9">
    <input type="text" name="username" class="form-control" id="username" value={{user.name}}>
    </div>
    </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-3 control-label">密码</label>
    <div class="col-sm-9">
      <input type="password" name="password" class="form-control" id="inputPassword"
      value={{user.passwrod}}>
    </div>
  </div>
      <div class="form-group">
      <label class="col-sm-3 control-label" for="email">邮箱</label>
     <div class="col-sm-9">
  <input type="email" name="email" class="form-control" id="username" value={{user.email}}>
    </div>
    </div>
 <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary">确定</button>
    </div>
  </div>
    </form>



</body>
</html>
